# Gradle
.gradle/
build/
*/build/
!gradle-wrapper.jar
.grle/
local.properties

# Kotlin
.kotlin/

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Misc
.cxx/
*.apk
*.aab
captures/
.externalNativeBuild/

# Xcode / iOS
iosApp/iosApp/Shared/
iosApp/iosApp.xcodeproj/xcuserdata/
iosApp/iosApp.xcworkspace/xcuserdata/
Pods/
DerivedData/

# Environment / secrets
.env
.env.*

# Signing
*.jks
*.keystore
keystore.properties
